.successimpliedotp-container {
  width: 100%;
  img:nth-of-type(1) {
    margin-top: 20px;
    display: block;
    margin-left: auto;
  }

  img:nth-of-type(2) {
    width:200px;
    display: block;
    margin-top: 10vh;
    margin: 0 auto;
  }
  
  h3{
    margin-top: 60px;
    color: green;
    text-align: center;
    font-size: 48px;
    font-weight: 100;
    b{
      font-weight: 600;
    }
  }
}
